body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

span {
    font-size: 1.2rem;
    color: #333;
}

input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

button {
    color: #000000;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#adicionarItem {
    background-color: #28a745;
    color: white;
    margin-top: 20px;
}

#adicionarItem:hover {
    background-color: #218838;
}

button.nao-pego {
    background-color: #ff8700;
    color: white;
}

button.nao-pego:hover {
    background-color: #ff8700;
}

button.pego {
    background-color: #28a745;
    color: white;
}

button.pego:hover {
    background-color: #218838;
}

li.pego {
    opacity: 0.6;
    text-decoration: line-through;
}

.checkmark {
    margin-left: 10px;
    color: #28a745;
    font-size: 1.2rem;
    display: none;
}

li.pego .checkmark {
    display: inline;
}

/* Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    ul {
        width: 90%;
    }

    li {
        flex-direction: column;
        align-items: center; /* Centraliza os itens */
        padding: 10px;
    }

    .item-info {
        flex-direction: column;
        gap: 5px;
        align-items: center; /* Centraliza os itens */
    }

    input {
        width: 100%;
        max-width: 200px; /* Define um tamanho máximo para o input */
    }

    button {
        width: 100%;
        max-width: 200px; /* Define um tamanho máximo para os botões */
        font-size: 0.9rem;
        padding: 10px; /* Aumenta o padding para melhorar a aparência */
        margin-top: 10px;
        text-align: center; /* Centraliza o texto dentro do botão */
    }

    #adicionarItem {
        width: 100%;
        max-width: 200px; /* Define um tamanho máximo para o botão de adicionar */
    }
}